h1 {
  color: #fff;
}

.rune-category-container {
    display: flex;
    gap: 1rem;
}

.rune-category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.class-nav-container {
    background-color: #383838;
    padding: 8px;
    display: flex;

}

.class-icon {
    border-radius: 8px;
    max-width: 64px;
}

.class-icon-selected {
    border: 8px solid yellow;
}
