:root {
  font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
    all: unset;
}

h3 {
    margin: unset;
    font-weight: unset;
}

body {
      background-color: #101010;
}

.tooltip {
    border: 16px solid;
    border-image: url('assets/tooltip-border.png') 16;
    background-color: #0F0D14;
    border-radius: 8px;

    max-width: 336px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.tooltip-bullet, .tooltip-desc, .tooltip-combo-point {
    color: #ffc415;
}

.tooltip-combo-point-container {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.tooltip-name {
    color: white;
}

.tooltip-icon {
    max-width: 48px;
    border-radius: 4px;
}
