body {
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/ashenvale-bg.jpg'), url('./assets/ashenvale-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
